#a{
    background-color: rgba(0, 0, 0, 0.801)
    
    
  
}
li{
    display: inline;
    color: white;
    margin-right: 90px;
}
.ab:link{
    text-decoration: none;
    color: white;
}.ab:active{   text-decoration: none;
    color: white;

}
.ab:visited{
    text-decoration: none;
    color: white;
}
#b{
    background-color: rgb(48, 48, 158);
    text-align:center

}
#l:hover{
    text-decoration:underline;
    
}
#n{
    text-decoration: none;
}
#l{
    font-size: 20px;
    color: white;
   
}
#c{
    background-color: rgb(253, 250, 250);
    font-size: 15px;
    padding-bottom:10px;
    
    
}
#k{
    text-decoration: underline;
    color: blue;
    font-size: 25px;
    
}
.ab{
    color: black;

}
h1{
    font-size: 65px;
   
}
.ac{
    text-decoration: none;
    color: black;
}
.j{
    font-size:30px;
}
.g{
    text-decoration: none;
    font-size: 25px;
}
.p{
    font-size: 20px;
    color: rgb(92, 88, 88);
}
.g:hover{
    text-decoration: underline;

}
#e{ padding: 10px;
    background-color: black;
  
}

.bc{
    color: white;
    font-size: 65px;
}
.bc:link{color: white;
    text-decoration: none;

}
#h{
    font-size: 30px;

}
#h:link{
    text-decoration: none;
    color: white;
}
#f{
    background-color: rgb(253, 250, 250);
 
}
#g{
    background-color:rgb(253, 250, 250) ;
}
#h{
    margin-right: 20px;
}
#h,#i{
    display: inline;
}
